body {
    /* css for body */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    /* css for header */
    background-color: #000000;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* css for logo */
.logo img {
    height: 80px;
    margin-left: 50px;
}
.logo:hover {
    transform: rotateY(360deg);
    transition: transform 0.6s;
}    
/* css for navigation */
nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: 0.5s;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 100px;
}

nav ul li.active a {
    border-bottom: 2px solid white;
    border-radius: 100px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
}

h1, h2 {
    color: #333;
}

p {
    color: #555;
    line-height: 1.6;
}

footer {
    /* css for footer */
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position:relative;
    width: 100%;
    bottom: 0;
}