
/* ------------------------------------------------------------------------splash.css----------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.video {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* to set the video behind the content */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
    z-index: 0; 
}

.content {
    text-align: center;
    z-index: 1; 
}

.content h1 {
    
    font-size: 160px;
    color: #fff;
    font-weight: 600;
}

.loader {
    width: 3%; 
    height: 30px; 
    margin-top: 10px;
}

.content h3, .content p, .group-members p {
    color: #fff;
    font-weight: 600;
}

.group-members {
    margin-top: 20px;
}



/* -------------------------------------------------------------------------------home.css------------------------------------------------------- */

/* applies for body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    
}

/* applies for header */
header {
    background-color: transparent;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/* applies for image in logo class */
.logo img {
    height: 80px;
    margin-left: 20px;
}
/* create hover effect on logo */
.logo:hover{
    transform: rotatey(360deg);
    transition: transform 0.6s;
}


/* applies for unordered list in nav tag */
nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}
/* applies for list tag in unordered list in nav tag */
nav ul li {
    margin: 10px;
}


/* applies for a tags in list tag in unordered list in nav tag */
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: 0.5s;
}


/* create hover effect for a tags in list tag in unordered list in nav tag */

nav ul li a:hover {
    background-color: #333;
    border-radius: 100px;
    
}

/* create active page indigator */
nav ul li.active a {
    border-bottom: solid ;
    border-color: white;
    border-radius: 100px;
}

/* applies for button */

button {
    background-color: transparent;
    border-radius: 100px;
    height: 60px;
    width: 120px;
    border-color: transparent;
    
}
/* create hover effect for button */
button:hover {
    background-color: #333;
   

    

}
/* applies for b tags in button in main class */

.main button b {
   font-size: large;
   color: white;
   font-family: sans-serif;
   
 
   
}

/* applies for main class */

.main {
    text-align: center;
    text-size-adjust: 24px;
    margin: 20px 0;
}
/* applies for h1 tag in main class */

.main h1 {
    font-size: 160px;
    color: white;
    font-weight: 600;
    transition: 0.5s;
    margin: 2%;
        
}
/* create hover effect for h1 tag */
.main h1:hover{
    -webkit-text-stroke: 3px #c19999 ;
    color: transparent;
}

/* applies for p tag in main class */

.main p {
    font-size: 20px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 2%;
   
}


/* applies for footer */

footer {
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* applies for video background */
.back {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    
}
/* applies for overlay class */
.overLay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(61, 57, 57, 0.5); 
    z-index: -1;
}

/* keep the video backgroung apt */
@media (min-aspect-ratio: 16/9){
    .back{
        width: 100%;
        height: auto;
    
    }
}
@media (max-aspect-ratio: 16/9){
    .back{
        width: auto;
        height: 100%;
    
    }
}



/* -------------------------------------------------------------------------Gallery.css---------------------------------------------------------- */

h1 {
    text-align: center;
    margin-top: 20px;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    color: white;
}


.gallery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.thumbnails {
    text-align: center;
    width: 300px; 
    margin-bottom: 20px; 
    position: relative; 
}

.thumbnails img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease; 
}

.thumbnails::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 4px solid transparent; 
    transition: border-color 0.3s ease; 
}

.thumbnails:hover::before {
    border-color: #90EE90; 
}

.expanded-view {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.expanded-view-content {
    background-color: white;
    padding: 20px;
    max-width: 80%;
    overflow: auto;
    text-align: center;
    color: black;
}

.expanded-view-content h2 {
    text-align: center;
    color: black;
}

.expanded-view-content p {
    text-align: left; 
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: white;
}

.expanded-view img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    max-height: 60vh;
}

.video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.logo img {
    height: 80px;
    margin-left: 20px;
}

header {
    background-color: transparent;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #333;
    border-radius: 100px;
}


nav ul li.active a {
    border-bottom: solid ;
    border-color: white;
    border-radius: 100px;
}
footer {
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position:relative;
    width: 100%;
    bottom: 0;
}


/* applies for body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* applies for header */
header {
    background-color: transparent;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* applies for image in logo class */
.logo img {
    height: 80px;
    margin-left: 50px;
}

/* create hover effect for logo class */
.logo:hover {
    transform: rotateY(360deg);
    transition: transform 0.6s;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: 0.5s;
}

nav ul li a:hover {
    background-color: #333;
    border-radius: 100px;
}

nav ul li.active a {
    border-bottom: solid;
    border-color: white;
    border-radius: 100px;
}

.back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overLay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(61, 57, 57, 0.5);
    z-index: -1;
}



/* ------------------------------------------------------------------------feedback.css---------------------------------------------------------- */

/* applies for container class */
.container {
    background: transparent;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 20px auto; /* Centered the container */
}

h5 {
    color: #c19999;
    text-align: center;
    font-size: large;
}


/* applies for input-group and rating-box classes */
.input-group, .rating-box {
    margin-bottom: 15px;
}


/* applies for label */
label {
    display: block;
    color: white;
    margin-bottom: 5px;
}

input[type="text"], textarea, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}


/* applies for i tag in stars class */
.stars i {
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.stars i.active {
    color: gold;
}

.radio-group {
    display: flex;
    gap: 10px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.btn:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

.error {
    color: red;
    font-size: 12px;
}


/* applies for footer */
footer {
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

@media (min-aspect-ratio: 16/9) {
    .back {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back {
        width: auto;
        height: 100%;
    }
}




/* -------------------------------------------------------------------Student2.css--------------------------------------------------------------- */

/* applies for everything */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #eff4fd;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
   
}

.logo{
    height: 120px;
    margin-left: 20px;    
}

.detail{
    margin-left: 5%;
    margin-top: 15%;

}

.detail h1{
   font-size: 50px;
   color: #212121;
   margin-bottom: 20px;
}

/* applies for span tag */
span {
    color: rgb(80, 137, 118);

}

.detail p{
    color: #555;
    line-height: 30px;
    
}

.detail p span{
   color: rgb(26, 161, 116);

}


.image{
    height: 600px;
    position: absolute;
    bottom: 0;
    right: 5px;
    transform: translateX(-60%);
    transition: bottom 1s, left;
    
}
.image:hover{
    bottom: 40px;
    box-shadow: 5px 15px 10px rgb(49, 86, 74);

    
   
}
.detail ul{
    list-style-type: none;
    display:flex;
    gap: 20px;
}




/* ------------------------------------------------------------------content.css----------------------------------------------------------------- */


/* applies for body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

header {
    background-color: transparent;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 80px;
    margin-left: 50px;
}
.logo:hover {
    transform: rotateY(360deg);
    transition: transform 0.6s;
}
.back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overLay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(61, 40, 40, 0.5);
    z-index: -1;
}


nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: 0.5s;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 100px;
}

nav ul li.active a {
    border-bottom: 2px solid white;
    border-radius: 100px;
}



/* applies for content container */
.container {
    background: transparent;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
}


/* applies for h1 and h2 tags */
h1, h2 {
    color: #e19999;
}

p {
    color: white;
    line-height: 1.6;
}


/* applies for footer */
footer {
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position:relative;
    width: 100%;
    bottom: 0;
}



/* ------------------------------------------------------------------------content1.css--------------------------------------------------------- */

body {
    /* css for body */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    /* css for header */
    background-color: #000000;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* css for logo */
.logo img {
    height: 80px;
    margin-left: 50px;
}
.logo:hover {
    transform: rotateY(360deg);
    transition: transform 0.6s;
}    
/* css for navigation */
nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: 0.5s;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 100px;
}

nav ul li.active a {
    border-bottom: 2px solid white;
    border-radius: 100px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
}

h1, h2 {
    color: #333;
}

p {
    color: #555;
    line-height: 1.6;
}

footer {
    /* css for footer */
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position:relative;
    width: 100%;
    bottom: 0;
}


/* -------------------------------------------------------------------------editor.css----------------------------------------------------------- */

/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

body {
    /* css for body tag */
    font-family: poppins sans-serif;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

header {
    text-align: center;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

.details {
    margin-top: 10px;
}

.details p {
    margin: 5px 0;
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

main {
    text-align: center;
}

section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 2em;
    margin: 0;
}

section p {
    margin: 5px 0;
}

section a {
    display: block;
    margin-top: 10px;
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

footer {
    text-align: center;
    margin-top: 40px;
    border-top: 2px solid #000;
    padding-top: 10px;
}


/* ----------------------------------------------------------------------shop.css---------------------------------------------------------------- */


/* importing font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
body {
    /* css for body */
    font-family: poppins, sans-serif;
    padding: 20px;
    background-color: #f7f7f7;
    margin: 0;
}
header {
    /* for header */
    background-color: black;
    color: #fff;
    /* padding: 0px 0;  */
    display:flex;
    justify-content: space-between;
    align-items:center;
    
}

.logo img {
    /* css for logo img */
    height: 80px;
    margin-left: 50px;
}
/* css for navigation bar */
.logo:hover {
    transform: rotateY(360deg);
    transition: transform 0.6s;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: 0.5s;
}

nav ul li a:hover {
    background-color: #333;
    border-radius: 100px;
}

nav ul li.active a {
    border-bottom: solid;
    border-color: white;
    border-radius: 100px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.product-grid {
    /* css for products to view in grid */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 70%;
}

.product {
    /* css for products */
    border: 1px solid #ddd;
    padding: 10px;
    width: calc(25% - 20px);
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s;
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #060606;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

/* css for cart */
.cart-container {
    width: 25%;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    overflow-y: auto;
}

.cart-container li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.cart-container input {
    width: 40px;
    text-align: center;
}
#total{
    font-weight: 700;
    
}

.cart-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

#clear-cart, #checkout {
    width: 100%;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

form button {
    /* css for form button */
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #218838;
}
footer {
    /* applies for footer */
    background-color: transparent;
    color: black;
    text-align: center;
    /* padding: 10px 0; */
    position: relative;
    width: 100%;
    bottom: 0;
}

/* -----------------------------------------------------------------------sitemap.css--------------------------------------------------------- */

h1 {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
}

#group1:hover rect {
fill: purple;
transition: fill 0.3s ease;
}

.video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.logo img {
    height: 80px;
    margin-left: 20px;
}

header {
    background-color: transparent;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #333;
    border-radius: 100px;
}


nav ul li.active a {
    border-bottom: solid ;
    border-color: white;
    border-radius: 100px;
}
footer {
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}



/* ---------------------------------------------------------------------profile.css------------------------------------------------------------ */


/* styling for profile sections  */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.profile {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    color: #fff;
}
.prompt {
    margin-bottom: 10px;
    color: #fff;
}
.progress-bar {
    height: 20px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.progress {
    height: 100%;
    background-color: #4caf50;
    width: 0%;
}

h1 {
   color: #fff;
}


.video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.overLay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(61, 57, 57, 0.5); 
    z-index: -1;
}


.logo img {
    height: 80px;
    margin-left: 20px;
}

header {
    background-color: transparent;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #333;
    border-radius: 100px;
}


nav ul li.active a {
    border-bottom: solid ;
    border-color: white;
    border-radius: 100px;
}
footer {
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position:relative;
    width: 100%;
    bottom: 0;
}


/* --------------------------------------------------------------------------team.css---------------------------------------------------------- */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
 }
 
 h1 {
    text-align: center;
    color: #fff;
 }
 
 h2 {
    text-align: center;
    color: #fff;
 }
 
 h3 {
    text-align: center;
    color: #fff;
 }
 
 .team-container {
    display: flex;
    justify-content: center;
    padding: 20px;
 }
 
 .team-member {
    position: relative;
    width: 200px;
    margin: 20px;
    text-align: center;
    transition: all 0.3s ease-in-out;
 }
 
 .thumbnail {
    width: 100%;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
 }
 
 .thumbnail-image {
    width: 100%;
    display: block;
    transition: all 0.3s ease-in-out;
 }
 
 .details {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
 }
 
 .team-member:hover .thumbnail-image {
    transform: scale(1.1);
    
 }
 
 .team-member:hover .details {
    display: block;
 }
 
 .video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.overLay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(61, 57, 57, 0.5); 
    z-index: -1;
}
        
.logo img {
    height: 80px;
    margin-left: 20px;
}

header {
    background-color: transparent;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #333;
    border-radius: 100px;
}


nav ul li.active a {
    border-bottom: solid ;
    border-color: white;
    border-radius: 100px;
}
footer {
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

